:root{
    --main-c: #ff4326;
    --lifestyle-c: #E9A084;
    --border-r: 0.25rem;
}
/** Uso general **/
html *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sniglet", system-ui;
    font-weight: 400;
    font-style: normal;
}
a{
    text-decoration: none;
}
/**header**/

.header-landingPage{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7vh;
}

.wrap-header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 150px;
    height: auto;
}
.wrap-lists{
    position: relative;
    display: flex;
}
.wrap-lists li{
    list-style: none;
    margin-left: 1.5rem;
}
.wrap-lists li a{
    text-decoration: none;
    color: #000000;
    transition: 0.3s;
    font-size: 1.1em;
}
.wrap-lists li a:hover{
    color: var(--main-c);
}
/**main**/
.main-landingPage{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 10vw 15vw;
    background-image: url("backgroundwebNew.png");
    /**background-attachment: fixed;**/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-section h1{
    font-size: 3rem;
}
.main-section p{
    font-size: 1.2rem;
    line-height: 1.5;
}
.main-section .span-lifestyle{
    color: var(--main-c);
}
.wrap-cta{
    padding: 1.5rem 0;
}

.cta-a{
    color: #fff;
    font-size: 1rem;
    background-color: var(--main-c);
    padding: 0.5rem;
    border-radius: var(--border-r);
}
.cta-a:hover{
    background-color: var(--lifestyle-c);
}
/**Formulario**/
.form-image-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 5vw;
}
.form-fieldset {
    border: 2px solid #8CE1DA;
    border-radius: var(--border-r);
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    max-width: 500px;
}

.form-input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: var(--border-r);
    border: 1px solid #8CE1DA;
    font-size: 1rem;
}
.cta-a-form{
    color: #fff;
    font-size: 1rem;
    background-color: var(--main-c);
    padding: 0.5rem;
    border-radius: var(--border-r);
    border:transparent
}

/* Imagen al lado derecho del formulario */
.form-image {
    width: 400px;
    margin-left: 2rem;
}

.form-image img {
    width: 100%;
    height: auto;
    border-radius: var(--border-r);
}

/**resposive**/

@media (max-width: 1023px){
    .logo{
        width: 75px;
    }
    .main-landingPage{
        background-image: url("backgroundTableNew.png");
    }
    .wrap-header {
        padding: 10px 20px;
    }
    .wrap-lists {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .wrap-lists li {
        margin-left: 1rem;
    }
    .wrap-lists li a {
        font-size: 0.9rem;
    }
    .main-section h1 {
        font-size: 2rem;
    }
    .main-section p {
        font-size: 1rem;
    }
    .cta-a {
        font-size: 0.9rem;
    }
    .form-image-container {
        flex-direction: column;
        align-items: center;
    }

    .form-fieldset {
        margin-top: 2rem;
        max-width: 100%;
        margin-bottom: 2rem;

    }
    .form-image {
        width: 300px; 
        margin-left: 0;
    }
}
@media (max-width: 500px){
    .main-landingPage {
        padding: 3vh 3vw; 
        background-attachment: scroll;
        background-image: url("backgroundPhoneNew.png");
    }
    .wrap-lists {
        flex-direction: column;
        align-items:flex-start;
        padding: 10px 20px;
        width: 100%;
    }
}